@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap%27");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.836);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

#header {
	width: 100%;
	height: 10%;
	outline: 2px solid black;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	background-color: rgb(230, 230, 230);
}

#header ul {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#header ul li {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: black;
}

#header img {
	height: 100%;
}

#main {
	width: 100%;
	height: 90%;
	padding: 0 5%;
	padding-top: 100px;
	position: relative;
}

#main h1 {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 60px;
	font-weight: 600;

	text-shadow: 0px 0px 5px black;
	text-align: center;
}

#main p {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 15px;
	width: 50%;
	margin: 20px auto 0 auto;
	text-align: justify;
}

.links {
	width: 70%;
	height: 50px;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.links a {
	color: rgb(179, 3, 18);
	text-align: center;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

#services {
	width: 100%;
	height: 3000px;
	background-color: black;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 200px;
}

.webDevelopment,
.graphicDesign,
.videoEdit,
.SMM {
	width: 100%;
	height: 500px;
}

.webDevelopment h2,
.graphicDesign h2,
.videoEdit h2,
.SMM h2 {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 40px;
	font-weight: 600;
}

.left {
	width: 45%;
	height: 100%;
	float: left;
}

.left p {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 15px;
	margin-top: 50px;
}

.center {
	width: 35%;
	height: 100%;
	display: inline-block;
}

.box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.responsive,
.modern,
.custom {
	width: 80%;
	height: 25%;
	border-right: 2px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.responsive h4,
.modern h4,
.custom h4 {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 20px;
}

.responsive p,
.modern p,
.custom p {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 14px;
}

.right {
	width: 20%;
	height: 100%;
	float: right;
	background-color: rgb(230, 230, 230);
	position: relative;
}

.right img {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.right div {
	width: 60%;
	height: 40px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid rgba(0, 0, 0, 0.836);
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.right div p {
	color: rgba(0, 0, 0, 0.836);
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 15px;
}

#footer {
	width: 100%;
	height: 50%;
	background-color: black;
	padding: 10px 5% 0 5%;
}

.footer-website {
	width: 30%;
	height: 100%;
	float: left;
	padding: 20px 0;
	position: relative;
}

.footer-website img {
	width: 30%;
}

.social-sites {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	bottom: 20px;
}

.social-sites div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

.social-sites p {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-weight: 600;
	font-size: 18px;
}

.social-sites img {
	width: 20px;
}

.footer-links {
	width: 60%;
	height: 100%;
	float: right;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-links div {
	width: 30%;
	height: 100%;
}

.footer-links div p {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-weight: 600;
	font-size: 18px;
}

.footer-links div ul {
	width: 70%;
	height: 70%;
	margin-top: 20px;
}

.footer-links div ul li {
	font-family: "Poppins", sans-serif;
	color: rgb(230, 230, 230);
	font-size: 14px;
	margin: 15px 0;
}
