* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	z-index: 3;
}

li {
	list-style: none;
}

html,
body {
	height: 100%;
	background-color: #6600cc;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.circle {
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: 0;
	background-color: white;
	opacity: 0.2;
	border-radius: 50%;
	left: -200px;
	top: 300px;
}

.circle1 {
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: 0;
	background-color: white;
	opacity: 0.2;
	border-radius: 50%;
	right: -300px;
	top: 510px;
}

#footer {
	background-color: #6f31ab;
}

.footer-headings {
	border-bottom: 2px solid white;
}

.footer-headings div h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

.footer-subpages p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(255, 255, 255, 0.71);
}

.footer-team p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(255, 255, 255, 0.71);
}

.footer-services p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(255, 255, 255, 0.71);
}

.footer-copyrights p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: rgba(240, 248, 255, 0.298);
}

/*###########################################################################################  */
/*#########################################mobile############################################  */
/*###########################################################################################  */

@media screen and (max-width: 480px) {
	#header {
		width: 100%;
		height: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		z-index: 1;
	}

	#header ul {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		z-index: 1;
	}

	#header ul li {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		z-index: 1;
	}

	#header img {
		height: 60%;
	}

	#main {
		width: 100%;
		height: 90%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
	}

	.left {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.left h1 {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 700;
		font-size: 60px;
		margin-bottom: 5%;
	}

	.left p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
	}

	.left div {
		width: 150px;
		height: 50px;
		border: 2px solid white;
		border-radius: 25px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}

	.right {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 50px;
	}

	.right img {
		width: 80%;

		z-index: 1;
	}

	#information {
		width: 100%;
		height: 70%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#information p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		width: 100%;
	}

	#footer {
		width: 100%;
		height: 60%;
		background-color: #6f31ab;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.238);
		padding: 40px 5% 0 5%;
	}

	.footer-headings {
		width: 100%;
		height: 50px;
		border-bottom: 2px solid white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-headings div {
		width: 30%;
		margin-bottom: 10px;
	}

	.footer-headings div h1 {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 600;
		font-size: 20px;
	}

	.footer-content {
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-content div {
		width: 30%;
		height: 100%;
	}

	.footer-subpages {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.footer-subpages p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
	}

	.footer-team {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.footer-team p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
		margin: 5px 0;
	}

	.footer-services {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.footer-services p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
	}

	.footer-copyrights {
		width: 100%;
		height: 50px;
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.footer-copyrights p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(240, 248, 255, 0.298);
		text-align: center;
	}
}
/*###########################################################################################  */
/*#########################################tablet############################################  */
/*###########################################################################################  */

@media screen and (max-width: 1024px) and (min-width: 481px) {
	#header {
		width: 100%;
		height: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		z-index: 1;
	}

	#header ul {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		z-index: 1;
	}

	#header ul li {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		z-index: 1;
	}

	#header img {
		height: 60%;
	}

	#main {
		width: 100%;
		height: 90%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
	}

	.left {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.left h1 {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 700;
		font-size: 60px;
		margin-bottom: 5%;
	}

	.left p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
	}

	.left div {
		width: 150px;
		height: 50px;
		border: 2px solid white;
		border-radius: 25px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}

	.right {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.right img {
		width: 80%;

		z-index: 1;
	}

	#information {
		width: 100%;
		height: 70%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#information p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		width: 100%;
	}

	#footer {
		width: 100%;
		height: 60%;
		background-color: #6f31ab;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.238);
		padding: 40px 5% 0 5%;
	}

	.footer-headings {
		width: 100%;
		height: 50px;
		border-bottom: 2px solid white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-headings div {
		width: 30%;
		margin-bottom: 10px;
	}

	.footer-headings div h1 {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 600;
		font-size: 20px;
	}

	.footer-content {
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-content div {
		width: 30%;
		height: 100%;
	}

	.footer-subpages {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.footer-subpages p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
	}

	.footer-team {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.footer-team p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
		margin: 5px 0;
	}

	.footer-services {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.footer-services p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(255, 255, 255, 0.71);
		font-weight: 600;
	}

	.footer-copyrights {
		width: 100%;
		height: 50px;
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.footer-copyrights p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: rgba(240, 248, 255, 0.298);
		text-align: center;
	}
}

/*###########################################################################################  */
/*#########################################notebook##########################################  */
/*###########################################################################################  */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	#header {
		width: 100%;
		height: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		z-index: 1;
	}

	#header ul {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		z-index: 1;
	}

	#header ul li {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		z-index: 1;
	}

	#header img {
		height: 60%;
	}

	#main {
		width: 100%;
		height: 90%;
		padding: 0 5%;
	}

	.left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
	}

	.left h1 {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-weight: 700;
		font-size: 60px;
		margin-bottom: 5%;
	}

	.left p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
	}

	.left div {
		width: 150px;
		height: 50px;
		border: 2px solid white;
		border-radius: 25px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}

	.right {
		float: right;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.right img {
		width: 80%;
		z-index: 1;
	}

	#footer {
		width: 100%;
		height: 60%;
		margin-top: 100px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.238);
		padding: 40px 5% 0 5%;
	}

	.footer-headings {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-headings div {
		width: 30%;
		margin-bottom: 10px;
	}

	.footer-headings div h1 {
		font-weight: 600;
	}

	.footer-content {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-content div {
		width: 30%;
		height: 100%;
	}

	.footer-subpages {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.footer-subpages p {
		font-weight: 600;
	}

	.footer-team {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 150px 0 0;
	}

	.footer-team p {
		font-weight: 600;
		margin: 5px 0;
	}

	.footer-services {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.footer-services p {
		font-weight: 600;
	}

	.footer-copyrights {
		width: 100%;
		height: 50px;
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.footer-copyrights p {
		text-align: center;
	}

	#information {
		width: 100%;
		height: 70%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#information p {
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		width: 40%;
	}
}
